.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.main-card {
    width: 90%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-bar {
    width: 45%
}

.borders {
    border-style: dashed;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ng-autocomplete {
    z-index: 1;
}
