<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="card main-card">
      <h5 class="card-header">
        <div class="ng-autocomplete">
          <ng-autocomplete [data]="autoCompleteData" [searchKeyword]="keyword" (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" [placeHolder]="'Enter City'">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </h5>
      <div class="card-body" *ngIf="selectedLocationData.length > 0">
        <div class="row">
          <div class="card bg-light mb-3 currentWeatherCard ">
            <div class="card-body row-1-card-1-body">
              <h5 class="card-title">{{ selectedLocationData[0].name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ selectedLocationData[0].temp.Metric.Value }} C</h6>
            </div>
          </div>
          <div class="card currentWeatherCard ">
            <div class="card-body card-body-favourite">
              <div>
                  <i class="far fa-heart fa-3x" *ngIf="!favourite"></i>
                  <i class="fas fa-heart fa-3x" *ngIf="favourite"></i>
              </div>
              <button type="button" class="btn btn-danger" (click)="addToFavorite()" *ngIf="!favourite">Add to Favorites</button>
              <button type="button" class="btn btn-danger" (click)="removefromFavourites()" *ngIf="favourite">Remove from Favorites</button>
            </div>
          </div>
        </div>
        <div class="row row-whetherText">
          <h1>{{ selectedLocationData[0].whetherText }}</h1>
        </div>
        <div class="row">
          <div class="card bg-light mb-3 card-5-days" *ngFor="let item of fiveDayForecastData">
            <div class="card-body card-body-forecast ">
              <h5 class="card-title">{{ getDay(item.Date) }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ item.Temperature.Maximum.Value }} C</h6>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>